body, html{
    min-height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f8f8;
}

img{width: 100%;}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default{
    background-color: #00B8D1;
    border: 0;
}

.navbar-brand{
    padding: 10px 10px;
}

.navbar-default .navbar-nav>li>button, .navbar-default .navbar-nav>li>a{
   color: #fff;
   font-weight: 500;
   padding: 15px 40px;
   font-size: 18px;
}

.navbar-default .navbar-nav>li>button:hover, .navbar-default .navbar-nav>li>button:active, .navbar-default .navbar-nav>li>button:focus{
    color: #fff;
    text-decoration: none;
}

.navbar-default .navbar-nav>li:hover{
    background-color: #76cad6;
}

.navbar .fa, .sidebar-nav .fa{
    font-size: 1.5em;
}

.item-menu-top {
    padding-left: 15px;
}

.btn-fc-primary{
    background-color: #00B8D1;
    border: 0;
    width:100%;
    color: #fff;
    font-weight: bold;
}

.btn-fc-primary:hover{
    background-color: #76cad6;
    color: #fff;
}


.home header{
    background: url(../img/home-bg-1.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 600px;
}


.home .sign-in{
    margin-top: 180px;
    color: #4B465A;
}

.home .sign-in h1{
    text-align: center;
    width: 70%;
    margin: 15px auto;
}

.home .sign-in p{
    font-size: 28px;
    text-align: center;
    font-weight: 300;
    width: 70%;
    margin: 15px auto;
}

.home .sign-in input{
    height: 54px;
    font-size: 18px;
}

.home-text1{
    margin: 20px auto;
    font-size: 24px;
    color: #4B465A;
    font-weight: 300;
}

.boxes-features{
    margin-top: 100px;
    text-align: center;

}

.boxes-features h2{
    color: #4B465A;
}

.boxes-features .box{
    width: 31%;
    float: left;
    padding: 15px 0;
    margin: 0 1%;
    background-color: #fff;
}

.boxes-features .box img{
    height: 50%;
    width: 50%;
}

.boxes-features .box p {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding: 15px;
}

.app:first-child{
    vertical-align: middle;
}

.app p{
    font-size: 30px;
    color: #4B465A;
    margin: 100px auto 0 auto;
    vertical-align: middle;
}


.home-about{
    margin-top: 50px;
    height: 400px;
    background-color:#004d85;

}

.home-about h3{
    text-align: center;
    color: #f0f000;
    font-size: 34px;
}

.home-about p{
    color: #f0f000;
    margin: 30px 50px;
    font-weight: bold;
    font-size: 18px;
}



.home .footer{
    margin-top: 100px;
    background-color: #dcdcdd;
    border-top: 3px solid silver;
    padding-bottom: 50px;
}

.home .footer h5{
    font-weight: bold;
    font-size: 20px;
}

.home .footer ul{
    list-style: none;
}

.home .footer li{
    padding-bottom: 10px;
}

.home .footer .links-servicos a, .home .footer .links-fc a{
    font-weight: bold;
    color: #4B465A;
}

.home .footer .links-servicos a:hover, .home .footer .links-fc a:hover{
    text-decoration: none;
    color: #004d85;
}

.home .footer ul.link-social {
    display: inline;
}

.home .footer ul.link-social li{
    display: inline;
}

.home .footer ul.link-social a{
    font-size: 30px;
    color: #333;
    margin-left: 10px;
}

.home .footer ul.link-social a:hover{
    color: #004d85;
}

@media (max-width: 768px) {
    .item-menu-top {
        visibility: hidden;
        display: none;
    }

    .home header{
        background-position: right;
    }

    .home .sign-in{
        color:#fff;
    }

    .home .sign-in p, .home .sign-in h1{
        width: 100%;
    }

    .home .sign-in input{
        margin-bottom: 10px;
    }

    .boxes-features .box{
        width: 100%;
        margin: 10px auto;
    }

}


.navbar-default .navbar-toggle{
    border-color: #fff;
    margin-right: 25px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: rgba(255,255,255,0.2);
    border-color: #222;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #222;
}

.sidebar-nav{
    top: 30px;
}

.sidebar-nav > li{
    font-size: 1.5em;
    line-height: 55px;
    text-indent: 10px;
}

.sidebar-nav li span.fa, .navbar-nav li span.fa{
    vertical-align: middle;
    margin-right: 10px;
}

.content{
    margin-top: 53px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    width: 100%;
    min-height: 100%;
    height: 2000px;
}
.control{

    height: 100%;

}

.control h1{
    margin: 20px auto;
    text-align: center;
}

/* New User */
.info-cad li{
    line-height: 26px;
}
.form-cad p, input{
    line-height: 30px;
    height: 25px;
    margin-bottom: 30px;
}

