body, html{
    min-height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default{
    background-color: #00ABC4;
    border: 0px;
}

.navbar-brand{
    padding: 10px 10px;
}

.navbar-default .navbar-nav>li>button, .navbar-default .navbar-nav>li>a{
   color: #fff;
   font-weight: 500;
   padding: 15px 40px;
   font-size: 18px;
}

.navbar-default .navbar-nav>li>button:hover, .navbar-default .navbar-nav>li>button:active, .navbar-default .navbar-nav>li>button:focus{
    color: #fff;
    text-decoration: none;
}

.navbar-default .navbar-nav>li:hover{
    background-color: #33bcd0;
}



.navbar .fa, .sidebar-nav .fa{
    font-size: 1.5em;
}



.item-menu-top {
    padding-left: 15px;
}


.btn-fc-primary{
    background-color: #00ABC4;
    width:100%;
    color: #fff;
    font-weight: bold;
}

.btn-fc-primary:hover{
    background-color: #33bcd0;
    color: #fff;
}


.home header{
    background: url(../img/home-g.png) no-repeat fixed;
    background-size: cover;
    height: 650px;
}

.home.container-fluid{
    padding: 0;
    min-height: 100%;
}

.home .sign-in{
    margin-top: 120px;
    color: #7d7d7d;
}

.home .sign-in h1{
    text-align: center;
}

.home .sign-in p{
    font-size: 28px;
    text-align: center;
    font-weight: 300;
}

.home .sign-in input{
    height: 54px;
    font-size: 18px;
}

.home .boxes-features img{
    height: 80px;
}



@media (min-width: 768px) {
    .item-menu-top {
        visibility: hidden;
        display: none;
    }
}


.navbar-default .navbar-toggle{
    border-color: #fff;
    margin-right: 25px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: rgba(255,255,255,0.2);
    border-color: #222;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #222;
}

.sidebar-nav{
    top: 30px;
}

.sidebar-nav > li{
    font-size: 1.5em;
    line-height: 55px;
    text-indent: 10px;
}

.sidebar-nav li span.fa, .navbar-nav li span.fa{
    vertical-align: middle;
    margin-right: 10px;
}

.content{
    margin-top: 53px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    width: 100%;
    min-height: 100%;
    height: 2000px;
}
.control{

    height: 100%;

}

.control h1{
    margin: 20px auto;
    text-align: center;
}
